.square{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    box-shadow: 2px 1px 15px #aaaaaa;
}
.red{

    background-color: rgb(255, 173, 173);;
}
.blue{
    background-color: rgb(192, 169, 255);;
}
.green{
    background-color: rgb(149, 255, 149);
}